[package]
authors = ["Michael Rutter <michael.protonmail@gmail.com>"]
name = "intcode"
version = "0.1.0"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
thiserror = "2.0.17"
